#about ul li:before {
    content: "\2665";
    color: #cf0311;
    padding-right: .4rem;
}

#work a img {
    margin-top: 18px;
    width: 45%;
    border: solid 3px #f8bbd0;
}

#work a img:hover {
    border: dotted 3px #90caf9;
}

#name h1 {
    margin-bottom: 0;
}  

#name div h3 {
    margin: 0;
}

#name h4 {
    margin-top: 0;
    margin-bottom: .6em;
}

#about h3 {
    margin: 0;
    padding-bottom: 1.5em;
}

main img {
    margin-right: .9em;
    width: 24px;
}

#location { 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#location h4 {
    margin: 0;
}

#tech { 
    margin: 0;
    padding: 0;
    padding-top: .3em;
    display: flex;
    align-items: center;
}

#work p {
    margin-bottom: 0;
}