#contact {

}

#contact h3 {
    font-size: 2.1vw;
}

.contact-title {
    justify-content: space-between;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
}

.contact-strip {
    width: 82%;
    height: 2px;
}

.contact-info {
    gap: 1.2vw;
    padding-bottom: 1.5vw;
}

.contact-info h4, .contact-info a {
    color: var(--main);
}

input, textarea {
    width: 98%;
    padding: .6vw;
    border: 3px solid var(--bold);
    color: var(--main);
    margin-bottom: 18px;
}

 input:hover, textarea:hover {
    cursor: url('../images/text_cursor.png'), auto;
    border: 3px dotted var(--main);
}

input:focus, textarea:focus {
    outline: none;
    border: 3px solid var(--main);
    color: var(--main);
}

button#submit { 
    width: 18%;
    border: 3px solid var(--main);
    color: var(--main);
    background: var(--light);
    padding: .6vw;
}

button#submit:hover {  
    border: 3px solid var(--main);
    color: var(--light);
    background: var(--main);
    padding: .6vw;
    cursor: url('../images/hover\ cursor.png'), auto;
}