:root {
    --main: #0b5e85;
    --light: #FFF5F5;
    --mid: #FAD6D6;
    --bold: #cf0311;
}

html {
    cursor: url('../images/cursor.png'), auto;
}

a, button {
    cursor: url('../images/hover cursor.png'), auto;
}

input {
    cursor: url('../images/text_cursor.png'), auto;
}

body { 
    margin: 0;
    margin-top: 90px;
}

main {
    padding-left: 3.9vw;
    padding-right: 9vw;
}

ul {
    padding: 0;
}

img {
    padding-right: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--light); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--bold); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--bold); 
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}