#links {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1em;
    top: 15vh;
}

.container {
    overflow: auto;
    text-align: center;
    padding: .1vh;
    margin-bottom: 3vh;
}

.container {
    border: 2px dotted transparent;   
}

.container:hover {
    border: 2px dotted #1975d2;   
}

#links img {
    width: 6.9vh;
    height: 6.9vh;
    border: none;
}

#links img:hover {
    width: 6.9vh;
    height: 6.9vh;
    border: none;
}

#links p {
    margin: 0;
    font-size: 3vh;
    padding-top: .3em;
}