nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 9px;
    margin: none;
    background: var(--light);
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.home-button {
    margin-left: 30px;
    padding: 9px;
    margin: none;
    color: var(--main);
    font-size: 30px;
}

.home-button:hover {
    color: var(--bold);
}

.contact-button {
    margin-right: 45px;
    padding: 9px;
    border: 2px solid var(--main);
    background-color: var(--mid);
    color: var(--main);
}