@font-face {
    font-family: 'MS_Sans_Serif_8pt';
    src: url(../fonts//ms_sans_serif_8pt-webfont.woff);
}

@font-face {
    font-family: 'MS_Sans_Serif_8pt_bold';
    src: url(../fonts/ms_sans_serif_8pt_bold-webfont.woff);
}

h1 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

h2 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

h3 { 
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
}

h4, input, textarea, ::placeholder {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: #cf0311;
}

h5, button, a {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

p, li {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

#links a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    color: #cf0311;
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
}

#menu a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #cf0311;
}

li {
    list-style-type: none;
}

h3 {
    margin: 0;
}