#work-links {
    border-top: 2px solid var(--bold);
    border-bottom: 2px solid var(--bold);
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding-top: .9vw;
    padding-bottom: .6vw;
    bottom: 0;
    background: var(--light);
}